@charset "utf-8";

#menu {
	margin: auto;
	width: 960px;
	text-align: center;
	overflow: hidden;
	/* width: 960px;
	height: 40px;
	clear: both; */
}

ul.navi {
	float: left;
	width: 960px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #39F;
	-moz-bor-der-radius-topright: 10px;
	-moz-bor-der-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
ul.navi li {
	display: inline;
}

ul.navi li a {
	float: left;
	font: bold 14px ����;
	line-height: 40px;
	color: #ffff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #880000;
	margin: 0;
	padding: 0 30px;
	background: #39F;
	-moz-bor-der-radius-topright: 10px;
	-moz-bor-der-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

ul.navi ul {
	display: none;
}

ul.navi li:hover>ul {
	position: absolute;
	display: block;
	width: 920px;
	height: 45px;
	margin: 40px 0 0 0;
	background: #33f;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

ul.navi li:hover>ul li a {
	float: left;
	font: bold 14px;
	line-height: 45px;
	color: #ffff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #110000;
	margin: 0;
	padding: 0 30px 0 0;
	background: #33f;
}

ul.navi li:hover>ul li a:hover {
	color: #120000;
	text-decoration: none;
	text-shadow: none;
}